.CEO {
    font-family: "Google Sans Flex", sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 5% 20%;
    border-radius: 30px;
    transition: all 0.8s ease;
    overflow: hidden;
}
.CEO:hover{
    box-shadow: 0px 0px 10px 10px rgb(64, 31, 84);
}
.CEO img{
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.Mobile{
    font-family: "Google Sans Flex", sans-serif;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    margin: 5% 20%;
    border-radius: 30px;
    transition: all 0.8s ease;
    overflow: hidden;
}
.Mobile:hover{
    box-shadow: 0px 0px 10px 10px rgb(64, 31, 84);
}
.Mobile img{
    width: 100px;
    height: auto;
}
.Web{
    font-family: "Google Sans Flex", sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 5% 20%;
    border-radius: 30px;
    transition: all 0.8s ease;
    overflow: hidden;
}
.Web:hover{
    box-shadow: 0px 0px 10px 10px rgb(64, 31, 84);
}
.Web img{
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.Cloud{
    font-family: "Google Sans Flex", sans-serif;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    margin: 5% 20%;
    border-radius: 30px;
    transition: all 0.8s ease;
    overflow: hidden;
}
.Cloud:hover{
    box-shadow: 0px 0px 10px 10px rgb(64, 31, 84);
}
.Cloud img{
    width: 100px;
    height: auto;
}