/* Root Colores */
:root {
  --color-primary: #4F46E5;    /* Morado principal */
  --color-secondary: #B5529F;  /* Rosa secundario */
  --color-text: #FFFFFF;        /* tTexto blanco */
  --color-text-secondary: #9CA3AF; /* Gris para textos secundarios */
  --color-background: rgba(255, 255, 255, 0.03); /* Fondo translucido para las cards */
  --color-hover: linear-gradient(90deg, #4F46E5, #B5529F); /* Para hover */
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
    background:
      linear-gradient(rgba(15, 23, 42, 0.7), rgba(15, 23, 42, 0.9)),
      url("../assets/img/fondo-test.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    font-family: system-ui, -apple-system, sans-serif;
    opacity: 0;
    transform: translateY(10px);
    overflow: hidden;
    animation: fadeUp 3s ease forwards, enableScroll 5s linear forwards;
  }
  
  main {
    flex: 1;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 3s ease forwards;
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes enableScroll {
  to {
    overflow: auto;
  }
}

@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
}