/* Importar Fuente */
@import url("https://fonts.google.com/share?selection.family=Google+Sans+Flex:opsz,wght@6..144,1..1000");

/* Root Colores */
:root {
  --color-primary: #4F46E5;    /* Morado principal */
  --color-secondary: #B5529F;  /* Rosa secundario */
  --color-text: #FFFFFF;        /* Texto blanco */
  --color-text-secondary: #9CA3AF; /* Gris para textos secundarios */
  --color-background: rgba(255, 255, 255, 0.03); /* Fondo translucido para las cards */
  --color-hover: linear-gradient(90deg, #4F46E5, #B5529F); /* Para hover */
  --color-details: rgba(255, 255, 255, 0.08) /* Para detalles, bordes y sombras */
}

/* Aplicar Fuente */
* {
  font-family: 'Google Sans Flex';
}

body {
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: var(--azul-profundo);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_titulo {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    font-size: 2.5em;
    margin: 0px 0px 0px 3px;
    color: var(--texto-principal);
}

.logo {
    display: flex;
    width: 200px;
    height: auto;
    margin:0px 0px 10px 0px; 
}

.Titulo {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    font-size: 2.5em;
    margin: 0px 0px 0px 3px;
    color: var(--texto-principal);
}

.texto_Titulo {
    display: flex;
    align-items: space-between;
   flex-direction: column;
    font-family: 'Google Sans Flex', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: -25px 0px 0px 81px;
    color: var(--texto-principal);
    display: flex;
}

.texto_SubTitulo_Derecho {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-top: -20px;
    margin-left: 850px;
    font-weight: bold;
    color: var(--texto-principal);
    display: flex;
}
.caja_Titulo {
    display: flex;
    flex-direction: column;
  
    background:
      linear-gradient(rgba(15, 23, 42, 0.7), rgba(15, 23, 42, 0.9)),
      url("../assets/img/fondo-test.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    font-family: system-ui, -apple-system, sans-serif;
    color: var(--color-text);
    opacity: 0;
    transform: translateY(10px);
    overflow: hidden;
    animation: fadeUp 3s ease forwards, enableScroll 5s linear forwards;
  }

  footer ul {
    list-style: none;
  }

  footer li {
    position: relative;
    padding-left: 33px;
    margin: 13px;
  }

  footer li::before {
    content: "→";
    position: absolute;
    left: 0;
    color: #B5529F;
  }

  footer li:hover::before {
    transform: scale(130%) rotate(-45deg);
  }

  /* 3er Columna */
  #txt-contacto {
    color: white;
    font-weight: bold;
    font-size: 23px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  #txt-contacto i {
    color: #B5529F;
    font-size: 20px;
  }

  #txt-email {
    font-size: 15px;
    text-decoration: none; 
    color: #9CA3AF;            
    font-weight: 500;
    position: relative;
    display: flex;
    gap: 8px;
  }

  #txt-email i {
    color: #B5529F;
  }

  #txt-telefono {
    font-size: 15px;
    text-decoration: none; 
    color: #9CA3AF;            
    font-weight: 500;
    position: relative;
    display: flex;
    gap: 8px;
  }

  #txt-telefono i {
    color: #B5529F;
  }

  #txt-direccion {
    font-size: 15px;
    text-decoration: none; 
    color: #9CA3AF;            
    font-weight: 500;
    position: relative;
    display: flex;
    gap: 8px;
  }

  #txt-direccion i {
    color: #B5529F;
  }

  .redes-sociales {
    padding-right: 33px;
    padding-top: 23px;
    margin-right: 33px;
    margin-top: 23px;
    display: flex;
    font-size: 23px;
  }

  .redes-sociales i {
    padding: 8px;
  }

  .redes-sociales:hover {
    color: #B5529F;
  }
